* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #F5EFFF;
  --secondary: #E5D9F2;
  --ternary: rgb(255, 30, 0);
  --white: white;
  --bg-dark: #2a2a2a;
  --dark-text-color: white;
  --shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.463);
  --hover: rgb(189, 24, 2);
  --hoveroff: black;

  --border-color-on: white;
  --border-color-off: var(--bg-dark);

  --content-logo-color: var(--white);
}
.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}
.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
.title {
  text-align: center;
  margin: 2.5rem 0;
}
.title span {
  border-bottom: 2px solid var(--ternary);
  letter-spacing: 2px;
}
.wrapper {
  background-color: var(--primary);
  min-height: 100vh;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
/* darkmode */

[for="darkmode"] {
  position: fixed;
  top: 7rem;
  left: 3rem;
}
[for="darkmode"]:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.3s;
}
#darkmode:checked + .wrapper {
  --secondary:var(--bg-dark);
  --primary: var(--bg-dark);
  color: var(--dark-text-color);
  --border-color-off: var(--border-color-on);
}
/* Dark mode toggle */
#darkmode:checked + .wrapper .left button {
  background-color: var(--ternary);
}

#darkmode {
  display: none;
}

#darkmode:not(checked) + .wrapper .left button:hover {
  --hover: var(--hoveroff);
}
/* navbar */
nav {
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  /* position: sticky;
  top: 0; */
}
.navbar {
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}
.logo {
  font-size: 1.5rem;
  position: relative;
}
.logo :first-child {
  margin-right: 1rem;
  font-weight: bold;
}
.line::before {
  content: "";
  height: 100%;
  width: 3px;
  background: var(--ternary);
  position: absolute;
  left: 23%;
}
.nav-item {
  list-style-type: none;
  font-weight: bold;
}
.nav-item li:hover {
  color: var(--ternary);
  transform: scale(1.2);
  transition: all 0.3s;
  cursor: pointer;
}

/* hero section */
.hero {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  max-height: 90vh; /* Increased height to accommodate image */
  padding: 2rem 0;
}

.right img {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 100%;
  object-fit: cover; /* Ensures image covers the space without distortion */
}

.left {
  flex-direction: column;
  justify-content: center;
  margin-left: 5vw;
}

.right {
  justify-content: flex-end;
  height: 80vh;
}

strong {
  font-size: 1.3rem;
}
.left p + p {
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.left p {
  padding-top: 0.5rem;
}
.left div {
  margin-top: 1rem;
}
.left button {
  background-color: var(--bg-dark); /* black background when dark mode is off */
  padding: 0.8rem 1.5rem;
  border: none;
  color: var(--dark-text-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.left button:hover {
  transform: scale(1.15);
  transition: 0.3s;
  background-color: var(--hover);
  cursor: pointer;
}

/* banner css*/
.banner {
  border: 2px solid var(--border-color-off);
  margin-top: 1rem;
  border-radius: 40px;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: var(--shadow);
}

.horizontal_line {
  width: 2px;
  height: 70px;
  background: grey;
}

.content p {
  margin-top: 0.5rem;
}
.icon {
  background-color: var(--ternary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.fa-solid {
  color: var(--content-logo-color);
  font-size: 1.5rem;
}
.content span {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1.3rem;
}
.content p {
  color: var(--ternary);
}
/* skill section */
.skill {
  margin-top: 1rem;
}
.skill-container{
  padding: 1rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-container .fa-brands{
  font-size: 3rem;

}

/* project section */

.project-container{
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  padding: 1rem 0;
}
.project-container>div{
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.top img{
  object-fit: contain;
  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: 100%;
}

/* footer */
footer {
  background-color: var(--bg-dark);
  width: 100%;
  height: 400px;
}
.bottom .fa-brands{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}
.project-name{
  padding-bottom: 2rem;
}

.project-name h3{
  letter-spacing: 2px;
  padding: .5rem 0;
}